
 /* BLACC.CSS 1.21 November 2023 by Stevie W. Carpenter */

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}
html{overflow-x:hidden}
h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
.BLACC-serif{font-family:serif}
.BLACC-sans-serif{font-family:sans-serif}
.BLACC-cursive{font-family:cursive}
.BLACC-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
.BLACC-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.BLACC-image{max-width:100%;height:auto}
img{vertical-align:middle}a{color:inherit}
.BLACC-table,.BLACC-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table
}.BLACC-table-all{border:1px solid #ccc}
.BLACC-bordered tr,.BLACC-table-all tr{border-bottom:1px solid #ddd}
.BLACC-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.BLACC-table-all tr:nth-child(odd){background-color:#fff}
.BLACC-table-all tr:nth-child(even){background-color:#f1f1f1}
.BLACC-hoverable tbody tr:hover,.BLACC-ul.BLACC-hoverable li:hover{background-color:#ccc}
.BLACC-centered tr th,.BLACC-centered tr td{text-align:center}
.BLACC-table td,.BLACC-table th,.BLACC-table-all td,.BLACC-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.BLACC-table th:first-child,.BLACC-table td:first-child,.BLACC-table-all th:first-child,.BLACC-table-all td:first-child{padding-left:16px}
.BLACC-btn,.BLACC-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.BLACC-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.BLACC-btn,.BLACC-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.BLACC-disabled,.BLACC-btn:disabled,.BLACC-button:disabled{cursor:not-allowed;opacity:0.3}
.BLACC-disabled *,:disabled *{pointer-events:none}
.BLACC-btn.w3-disabled:hover,.BLACC-btn:disabled:hover{box-shadow:none}
.BLACC-badge,.BLACC-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.BLACC-badge{border-radius:50%}
.BLACC-ul{list-style-type:none;padding:0;margin:0}
.BLACC-ul li{padding:8px 16px;border-bottom:1px solid #ddd}
.BLACC-ul li:last-child{border-bottom:none}
.BLACC-tooltip,.BLACC-display-container{position:relative}
.BLACC-tooltip .BLACC-text{display:none}
.BLACC-tooltip:hover .BLACC-text{display:inline-block}
.BLACC-ripple:active{opacity:0.5}
.BLACC-ripple{transition:opacity 0s}
.BLACC-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.BLACC-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.BLACC-dropdown-click,.BLACC-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.BLACC-dropdown-hover:hover .BLACC-dropdown-content{display:block}
.BLACC-dropdown-hover:first-child,.BLACC-dropdown-click:hover{background-color:#ccc;color:#000}
.BLACC-dropdown-hover:hover > .BLACC-button:first-child,.BLACC-dropdown-click:hover > .BLACC-button:first-child{background-color:#ccc;color:#000}
.BLACC-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.BLACC-check,.BLACC-radio{width:24px;height:24px;position:relative;top:6px}
.BLACC-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.BLACC-bar-block .BLACC-dropdown-hover,.BLACC-bar-block .BLACC-dropdown-click{width:100%}
.BLACC-bar-block .BLACC-dropdown-hover .BLACC-dropdown-content,.BLACC-bar-block .BLACC-dropdown-click .BLACC-dropdown-content{min-width:100%}
.BLACC-bar-block .BLACC-dropdown-hover .BLACC-button,.BLACC-bar-block .BLACC-dropdown-click .BLACC-button{width:100%;text-align:left;padding:8px 16px}
.BLACC-main,#main{transition:margin-left .4s}
.BLACC-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.BLACC-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.BLACC-bar{width:100%;overflow:hidden}.BLACC-center .BLACC-bar{display:inline-block;width:auto}
.BLACC-bar .BLACC-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.BLACC-bar .BLACC-dropdown-hover,.BLACC-bar .BLACC-dropdown-click{position:static;float:left}
.BLACC-bar .BLACC-button{white-space:normal}
.BLACC-bar-block .BLACC-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.BLACC-bar-block.BLACC-center .BLACC-bar-item{text-align:center}
.BLACC-block{display:block;width:100%}
.BLACC-responsive{display:block;overflow-x:auto}
.BLACC-container:after,.BLACC-container:before,.BLACC-panel:after,.BLACC-panel:before,.BLACC-row:after,.BLACC-row:before,.BLACC-row-padding:after,.BLACC-row-padding:before,
.BLACC-cell-row:before,.BLACC-cell-row:after,.BLACC-clear:after,.BLACC-clear:before,.BLACC-bar:before,.BLACC-bar:after{content:"";display:table;clear:both}
.BLACC-col,.BLACC-half,.BLACC-third,.BLACC-twothird,.BLACC-threequarter,.BLACC-quarter{float:left;width:100%}
.BLACC-col.s1{width:8.33333%}
.BLACC-col.s2{width:16.66666%}
.BLACC-col.s3{width:24.99999%}
.BLACC-col.s4{width:33.33333%}
.BLACC-col.s5{width:41.66666%}
.BLACC-col.s6{width:49.99999%}
.BLACC-col.s7{width:58.33333%}
.BLACC-col.s8{width:66.66666%}
.BLACC-col.s9{width:74.99999%}
.BLACC-col.s10{width:83.33333%}
.BLACC-col.s11{width:91.66666%}
.BLACC-col.s12{width:99.99999%}
@media (min-width:601px) {
.BLACC-col.m1{width:8.33333%}
.BLACC-col.m2{width:16.66666%}
.BLACC-col.m3,.BLACC-quarter{width:24.99999%}
.BLACC-col.m4,.BLACC-third{width:33.33333%}
.BLACC-col.m5{width:41.66666%}
.BLACC-col.m6,.BLACC-half{width:49.99999%}
.BLACC-col.m7{width:58.33333%}
.BLACC-col.m8,.BLACC-twothird{width:66.66666%}
.BLACC-col.m9,.BLACC-threequarter{width:74.99999%}
.BLACC-col.m10{width:83.33333%}
.BLACC-col.m11{width:91.66666%}
.BLACC-col.m12{width:99.99999%}}
@media (min-width:993px)  {
.BLACC-col.l1{width:8.33333%}
.BLACC-col.l2{width:16.66666%}
.BLACC-col.l3{width:24.99999%}
.BLACC-col.l4{width:33.33333%}
.BLACC-col.l5{width:41.66666%}
.BLACC-col.l6{width:49.99999%}
.BLACC-col.l7{width:58.33333%}
.BLACC-col.l8{width:66.66666%}
.BLACC-col.l9{width:74.99999%}
.BLACC-col.l10{width:83.33333%}
.BLACC-col.l11{width:91.66666%}
.BLACC-col.l12{width:99.99999%}}
.BLACC-rest{overflow:hidden}
.BLACC-stretch{margin-left:-16px;margin-right:-16px}
.BLACC-content,.BLACC-auto{margin-left:auto;margin-right:auto}
.BLACC-content{max-width:980px}
.BLACC-auto{max-width:1140px}
.BLACC-cell-row{display:table;width:100%}
.BLACC-cell{display:table-cell}
.BLACC-cell-top{vertical-align:top}
.BLACC-cell-middle{vertical-align:middle}
.BLACC-cell-bottom{vertical-align:bottom}
.BLACC-hide{display:none!important}
.BLACC-show-block,.BLACC-show{display:block!important}
.BLACC-show-inline-block{display:inline-block!important}
@media (max-width:1205px) {
.BLACC-auto{max-width:95%}}
@media (max-width:600px) {
.BLACC-modal-content{margin:0 10px;width:auto!important}
.BLACC-modal{padding-top:30px}
.BLACC-dropdown-hover.BLACC-mobile .BLACC-dropdown-content,.BLACC-dropdown-click.BLACC-mobile .BLACC-dropdown-content{position:relative}	
.BLACC-hide-small{display:none!important}
.BLACC-mobile{display:block;width:100%!important}
.BLACC-bar-item.BLACC-mobile,.BLACC-dropdown-hover.BLACC-mobile,.BLACC-dropdown-click.BLACC-mobile{text-align:center}
.BLACC-dropdown-hover.BLACC-mobile,.BLACC-dropdown-hover.BLACC-mobile .BLACC-btn,.BLACC-dropdown-hover.BLACC-mobile .BLACC-button,.BLACC-dropdown-click.BLACC-mobile,.BLACC-dropdown-click.BLACC-mobile .BLACC-btn,.BLACC-dropdown-click.BLACC-mobile .BLACC-button{width:100%}}
@media (max-width:768px) {
.BLACC-modal-content{width:500px}
.BLACC-modal{padding-top:50px}}
@media (min-width:993px) {
.BLACC-modal-content{width:900px}
.BLACC-hide-large{display:none!important}
.BLACC-sidebar.BLACC-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px) {
.BLACC-hide-medium{display:none!important}}
@media (max-width:992px) {
.BLACC-sidebar.BLACC-collapse{display:none}
.BLACC-main{margin-left:0!important;margin-right:0!important}
.BLACC-auto{max-width:100%}}
.BLACC-top,.BLACC-bottom{position:fixed;width:100%;z-index:1}
.BLACC-top{top:0}
.BLACC-bottom{bottom:0}
.BLACC-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.BLACC-display-topleft{position:absolute;left:0;top:0}
.BLACC-display-topright{position:absolute;right:0;top:0}
.BLACC-display-bottomleft{position:absolute;left:0;bottom:0}
.BLACC-display-bottomright{position:absolute;right:0;bottom:0}
.BLACC-display-middle {
position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)
}
.BLACC-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.BLACC-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.BLACC-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.BLACC-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.BLACC-display-container:hover .BLACC-display-hover{display:block}
.BLACC-display-container:hover span.BLACC-display-hover{display:inline-block}
.BLACC-display-hover{display:none}
.BLACC-display-position{position:absolute}
.BLACC-circle{border-radius:50%}
.BLACC-round-small{border-radius:2px}
.BLACC-round,.BLACC-round-medium{border-radius:4px}
.BLACC-round-large{border-radius:8px}
.BLACC-round-xlarge{border-radius:16px}
.BLACC-round-xxlarge{border-radius:32px}
.BLACC-row-padding,.BLACC-row-padding>.BLACC-half,.BLACC-row-padding>.BLACC-third,.BLACC-row-padding>.BLACC-twothird,.BLACC-row-padding>.BLACC-threequarter,.BLACC-row-padding>.BLACC-quarter,.BLACC-row-padding>.BLACC-col{padding:0 8px}
.BLACC-container,.BLACC-panel{padding:0.01em 16px}
.BLACC-panel{margin-top:16px;margin-bottom:16px}
.BLACC-code,.BLACC-codespan{font-family:Consolas,"courier new";font-size:16px}
.BLACC-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.BLACC-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.BLACC-card,.BLACC-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.BLACC-card-4,.BLACC-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.BLACC-spin{animation:w3-spin 2s infinite linear}
@keyframes .BLACC-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.BLACC-animate-fading{animation:fading 10s infinite}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.BLACC-animate-opacity{animation:opac 0.8s}
@keyframes opac{from{opacity:0} to{opacity:1}}
.BLACC-animate-top{position:relative;animation:animatetop 0.4s}
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.BLACC-animate-left{position:relative;animation:animateleft 0.4s}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.BLACC-animate-right{position:relative;animation:animateright 0.4s}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.BLACC-animate-bottom{position:relative;animation:animatebottom 0.4s}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.BLACC-animate-zoom {animation:animatezoom 0.6s}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.BLACC-animate-input{transition:width 0.4s ease-in-out}
.BLACC-animate-input:focus{width:100%!important}
.BLACC-opacity,.BLACC-hover-opacity:hover{opacity:0.60}
.BLACC-opacity-off,.BLACC-hover-opacity-off:hover{opacity:1}
.BLACC-opacity-max{opacity:0.25}
.BLACC-opacity-min{opacity:0.75}
.BLACC-greyscale-max,.BLACC-grayscale-max,.BLACC-hover-greyscale:hover,.BLACC-hover-grayscale:hover{filter:grayscale(100%)}
.BLACC-greyscale,.BLACC-grayscale{filter:grayscale(75%)}
.BLACC-greyscale-min,.BLACC-grayscale-min{filter:grayscale(50%)}
.BLACC-sepia{filter:sepia(75%)}
.BLACC-sepia-max,.BLACC-hover-sepia:hover{filter:sepia(100%)}
.BLACC-sepia-min{filter:sepia(50%)}
.BLACC-tiny{font-size:10px!important}
.BLACC-small{font-size:12px!important}
.BLACC-medium{font-size:15px!important}
.BLACC-large{font-size:18px!important}
.BLACC-xlarge{font-size:24px!important}
.BLACC-xxlarge{font-size:36px!important}
.BLACC-xxxlarge{font-size:48px!important}
.BLACC-jumbo{font-size:64px!important}
.BLACC-left-align{text-align:left!important}
.BLACC-right-align{text-align:right!important}
.BLACC-justify{text-align:justify!important}
.BLACC-center{text-align:center!important}
.BLACC-border-0{border:0!important}
.BLACC-border{border:1px solid #ccc!important}
.BLACC-border-top{border-top:1px solid #ccc!important}
.BLACC-border-bottom{border-bottom:1px solid #ccc!important}
.BLACC-border-left{border-left:1px solid #ccc!important}
.BLACC-border-right{border-right:1px solid #ccc!important}
.BLACC-topbar{border-top:6px solid #ccc!important}
.BLACC-bottombar{border-bottom:6px solid #ccc!important}
.BLACC-leftbar{border-left:6px solid #ccc!important}
.BLACC-rightbar{border-right:6px solid #ccc!important}
.BLACC-section,.BLACC-code{margin-top:16px!important;margin-bottom:16px!important}
.BLACC-margin{margin:16px!important}
.BLACC-margin-top{margin-top:16px!important}
.BLACC-margin-bottom{margin-bottom:16px!important}
.BLACC-margin-left{margin-left:16px!important}
.BLACC-margin-right{margin-right:16px!important}
.BLACC-padding-small{padding:4px 8px!important}
.BLACC-padding{padding:8px 16px!important}
.BLACC-padding-large{padding:12px 24px!important}
.BLACC-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.BLACC-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.BLACC-padding-32{padding-top:32px!important;padding-bottom:32px!important}
.BLACC-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.BLACC-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.BLACC-padding-top-64{padding-top:64px!important}
.BLACC-padding-top-48{padding-top:48px!important}
.BLACC-padding-top-32{padding-top:32px!important}
.BLACC-padding-top-24{padding-top:24px!important}
.BLACC-left{float:left!important}
.BLACC-right{float:right!important}
.BLACC-button:hover{color:#000!important;background-color:#ccc!important}
.BLACC-transparent,.BLACC-hover-none:hover{background-color:transparent!important}
.BLACC-hover-none:hover{box-shadow:none!important}
/* Colors */
.BLACC-amber,.BLACC-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.BLACC-aqua,.BLACC-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.BLACC-blue,.BLACC-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.BLACC-light-blue,.BLACC-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.BLACC-brown,.BLACC-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.BLACC-cyan,.BLACC-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.BLACC-blue-grey,.BLACC-hover-blue-grey:hover,.BLACC-blue-gray,.BLACC-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.BLACC-green,.BLACC-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.BLACC-light-green,.BLACC-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.BLACC-indigo,.BLACC-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.BLACC-khaki,.BLACC-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.BLACC-lime,.BLACC-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.BLACC-orange,.BLACC-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.BLACC-deep-orange,.BLACC-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.BLACC-pink,.BLACC-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.BLACC-purple,.BLACC-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.BLACC-deep-purple,.BLACC-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.BLACC-red,.BLACC-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.BLACC-sand,.BLACC-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.BLACC-teal,.BLACC-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.BLACC-yellow,.BLACC-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.BLACC-white,.BLACC-hover-white:hover{color:#000!important;background-color:#fff!important}
.BLACC-black,.BLACC-hover-black:hover{color:#fff!important;background-color:#000!important}
.BLACC-grey,.BLACC-hover-grey:hover,.BLACC-gray,.BLACC-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.BLACC-light-grey,.BLACC-hover-light-grey:hover,.BLACC-light-gray,.BLACC-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.BLACC-dark-grey,.BLACC-hover-dark-grey:hover,.BLACC-dark-gray,.BLACC-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.BLACC-pale-red,.BLACC-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.BLACC-pale-green,.BLACC-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.BLACC-pale-yellow,.BLACC-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.BLACC-pale-blue,.BLACC-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}

.BLACC-text-amber,.BLACC-hover-text-amber:hover{color:#ffc107!important}
.BLACC-text-aqua,.BLACC-hover-text-aqua:hover{color:#00ffff!important}
.BLACC-text-blue,.BLACC-hover-text-blue:hover{color:#2196F3!important}
.BLACC-text-light-blue,.BLACC-hover-text-light-blue:hover{color:#87CEEB!important}
.BLACC-text-brown,.BLACC-hover-text-brown:hover{color:#795548!important}
.BLACC-text-cyan,.BLACC-hover-text-cyan:hover{color:#00bcd4!important}
.BLACC-text-blue-grey,.BLACC-hover-text-blue-grey:hover,.BLACC-text-blue-gray,.BLACC-hover-text-blue-gray:hover{color:#607d8b!important}
.BLACC-text-green,.BLACC-hover-text-green:hover{color:#4CAF50!important}
.BLACC-text-light-green,.BLACC-hover-text-light-green:hover{color:#8bc34a!important}
.BLACC-text-indigo,.BLACC-hover-text-indigo:hover{color:#3f51b5!important}
.BLACC-text-khaki,.BLACC-hover-text-khaki:hover{color:#b4aa50!important}
.BLACC-text-lime,.BLACC-hover-text-lime:hover{color:#cddc39!important}
.BLACC-text-orange,.BLACC-hover-text-orange:hover{color:#ff9800!important}
.BLACC-text-deep-orange,.BLACC-hover-text-deep-orange:hover{color:#ff5722!important}
.BLACC-text-pink,.BLACC-hover-text-pink:hover{color:#e91e63!important}
.BLACC-text-purple,.BLACC-hover-text-purple:hover{color:#9c27b0!important}
.BLACC-text-deep-purple,.BLACC-hover-text-deep-purple:hover{color:#673ab7!important}
.BLACC-text-red,.BLACC-hover-text-red:hover{color:#f44336!important}
.BLACC-text-sand,.BLACC-hover-text-sand:hover{color:#fdf5e6!important}
.BLACC-text-teal,.BLACC-hover-text-teal:hover{color:#009688!important}
.BLACC-text-yellow,.BLACC-hover-text-yellow:hover{color:#d2be0e!important}
.BLACC-text-white,.BLACC-hover-text-white:hover{color:#fff!important}
.BLACC-text-black,.BLACC-hover-text-black:hover{color:#000!important}
.BLACC-text-grey,.BLACC-hover-text-grey:hover,.BLACC-text-gray,.BLACC-hover-text-gray:hover{color:#757575!important}
.BLACC-text-light-grey,.BLACC-hover-text-light-grey:hover,.BLACC-text-light-gray,.BLACC-hover-text-light-gray:hover{color:#f1f1f1!important}
.BLACC-text-dark-grey,.BLACC-hover-text-dark-grey:hover,.BLACC-text-dark-gray,.BLACC-hover-text-dark-gray:hover{color:#3a3a3a!important}
.BLACC-border-amber,.BLACC-hover-border-amber:hover{border-color:#ffc107!important}
.BLACC-border-aqua,.BLACC-hover-border-aqua:hover{border-color:#00ffff!important}
.BLACC-border-blue,.BLACC-hover-border-blue:hover{border-color:#2196F3!important}
.BLACC-border-light-blue,.BLACC-hover-border-light-blue:hover{border-color:#87CEEB!important}
.BLACC-border-brown,.BLACC-hover-border-brown:hover{border-color:#795548!important}
.BLACC-border-cyan,.BLACC-hover-border-cyan:hover{border-color:#00bcd4!important}
.BLACC-border-blue-grey,.BLACC-hover-border-blue-grey:hover,.BLACC-border-blue-gray,.BLACC-hover-border-blue-gray:hover{border-color:#607d8b!important}
.BLACC-border-green,.BLACC-hover-border-green:hover{border-color:#4CAF50!important}
.BLACC-border-light-green,.BLACC-hover-border-light-green:hover{border-color:#8bc34a!important}
.BLACC-border-indigo,.BLACC-hover-border-indigo:hover{border-color:#3f51b5!important}
.BLACC-border-khaki,.BLACC-hover-border-khaki:hover{border-color:#f0e68c!important}
.BLACC-border-lime,.BLACC-hover-border-lime:hover{border-color:#cddc39!important}
.BLACC-border-orange,.BLACC-hover-border-orange:hover{border-color:#ff9800!important}
.BLACC-border-deep-orange,.BLACC-hover-border-deep-orange:hover{border-color:#ff5722!important}
.BLACC-border-pink,.BLACC-hover-border-pink:hover{border-color:#e91e63!important}
.BLACC-border-purple,.BLACC-hover-border-purple:hover{border-color:#9c27b0!important}
.BLACC-border-deep-purple,.BLACC-hover-border-deep-purple:hover{border-color:#673ab7!important}
.BLACC-border-red,.BLACC-hover-border-red:hover{border-color:#f44336!important}
.BLACC-border-sand,.BLACC-hover-border-sand:hover{border-color:#fdf5e6!important}
.BLACC-border-teal,.BLACC-hover-border-teal:hover{border-color:#009688!important}
.BLACC-border-yellow,.BLACC-hover-border-yellow:hover{border-color:#ffeb3b!important}
.BLACC-border-white,.BLACC-hover-border-white:hover{border-color:#fff!important}
.BLACC-border-black,.BLACC-hover-border-black:hover{border-color:#000!important}
.BLACC-border-grey,.BLACC-hover-border-grey:hover,.BLACC-border-gray,.BLACC-hover-border-gray:hover{border-color:#9e9e9e!important}
.BLACC-border-light-grey,.BLACC-hover-border-light-grey:hover,.BLACC-border-light-gray,.BLACC-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.BLACC-border-dark-grey,.BLACC-hover-border-dark-grey:hover,.BLACC-border-dark-gray,.BLACC-hover-border-dark-gray:hover{border-color:#616161!important}
.BLACC-border-pale-red,.BLACC-hover-border-pale-red:hover{border-color:#ffe7e7!important}
.BLACC-border-pale-green,.BLACC-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.BLACC-border-pale-yellow,.BLACC-hover-border-pale-yellow:hover{border-color:#ffffcc!important}
.BLACC-border-pale-blue,.BLACC-hover-border-pale-blue:hover{border-color:#e7ffff!important}

